.password-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.password-container__output{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
  height: 4rem;
  font-size: 1.25rem;
  font-weight: 600;
  position: relative;
  border-radius: 5px;
}

.password-container__output.value{
  color: var(--text-color);
}

.password-container__output.placeholder{
  color: var(--text-color);
  opacity: 0.6;
  user-select: none;
}

.btn--copy{
  height: 1.5rem;
  aspect-ratio: 1;
  background-image: url("../../assets/images/copy-icon.svg");
  background-size: 90%;
  background-color: transparent;
  transition: 300ms transform ease-in-out;
}

.btn--copy[disabled]{
  cursor: not-allowed
}

.btn--copy:hover:not([disabled]){
  transform: scale(1.05);
}

.btn--copy:active:not([disabled]){
  transition: 30ms transform ease-in-out;
  transform: scale(0.95);
}

.password-container__buttons{
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}





