@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  min-width: 0;
  color: white;
  scroll-behavior: smooth;
}

:root{
  --background-color: rgb(38, 38, 42);
  --main-color: rgb(61, 61, 88);
  --input-color: rgb(47, 47, 59);
  --text-color: rgb(255, 255, 255);
  --creative-color: rgb(90, 189, 90);
  --creative-color-secondary: rgb(255, 191, 0);
}

body,html,#root{
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
}

#root{
  display: grid;
  place-items: center;
  padding: 1rem;
}

.btn{
  appearance: none;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}

.app-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 100%;
  max-width: 400px
}

.app-header{
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  padding-top: 2rem;
}

.checkboxes-container{
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

